{% load static %}

<html>
<header>
    <title>Instructions </title>
</header>
<body>
    <p> Welcome to Carepost.  Use this page to set up a 'viewer', or to get guidance on use.</p>
    <p> If you have already made your first postcard, go here: <a href="{% url 'to_connect' %}"> set up a viewer.</a> </p>

    <p> To make your firsr postcard, read further:  </p>
    <li>Start by texting a photo to one of the three current Carepost numbers: +1 415 779 7677,  +1 832 662 6430, or +1 830 521 5373. </li>
    <li>Instructions sent back should lead you through. There will be a delay while the server spins up. (I'm keeping costs down). </li>
    <li>On your phone, please be sure to make a unique contact name for that number so that it is convenient to access!</li>
    <li>Having made your first postcard, text the command 'connector' to your new contact. You will get a 4-character code.</li>
    <li>That 4 character code is used in the link above to make a viewer for acual use including just seeing how this works. </li>
    <li>Or, you  use that code to send to an existing viewer set up by someone else, see below.</li>

    <p> If you want to enable another person to send postcards to the viewer you set up, here is how:</p>
    <li>First, have them get their own 4-character code by texting the command 'connector' to their own Carepost contact, as noted.</li>
    <li>You will enter that code and their own phone number -- the phone number that you can call them on -- in a command texted to Carepost.</li>
    <li>The command is: </li>
    <li>  connect <new-phone-number> connector <4-character code></li>
    <li>That's it!.  Their profile image will appear on the viewer you set up. </li>

   
</body>
</html>